.container {
  background-color: #DDD;
  border-radius: 8px;
  font-family: sans-serif;
  margin: auto;
  padding: 16px;
  width: 500px;
}

.title {
  font-size: 24px;
  margin-bottom: 16px;
  text-align: center;
}

.section {
  margin: 16px 0;
}

.col {
  display: inline-block;
  vertical-align: top;
}

.col.w30 {
  max-width: 30%;
}

.col.w70 {
  max-width: 70%;
}

.col+.col {
  margin-left: 16px;
}

.hidden {
  display: none;
}

#ciphertext, #freqs, #mapping {
  font-family: monospace;
}

#ciphertext {
  width: calc(100% - 8px);
}

#mapping input {
  width: 12px;
}
